TABLE.pta-sus-sheets {
    width: 100%;
    }
TABLE.pta-sus-tasks TD,
TABLE.pta-sus-sheets TD {
    border-collapse: collapse;  
    border-spacing: 0;  
    }
TABLE.pta-sus-tasks TD,
TABLE.pta-sus-sheets TD,
TABLE.pta-sus-tasks TH,
TABLE.pta-sus-sheets TH {
    padding: .2em .6em;
    text-align: left;
    vertical-align: top;
    }

TABLE.pta-sus-sheets TD,
TABLE.pta-sus-tasks TH,
TABLE.pta-sus-sheets TH {
    border-bottom: 1px solid #ccc;
    }
TR.pta-sus-tasks-bb TD {
    border-bottom: 1px solid #ccc;
    }
TABLE.pta-sus-sheets TR.filled {
    background: #eee;
    }
TABLE.pta-sus-sheets .column-open_spots {
    text-align: center;
    }
TABLE.pta-sus-sheets .column-open_spots {
    text-align: center;
    }
TABLE.pta-sus-sheets .column-view_link {
    white-space: nowrap;
    }
    
.pta-sus.error,
.pta-sus.updated {
    color: #000 !important;
    display: block;
    float: none;
    margin: 1em 0;
    padding: 5px 5px 5px 30px;
    text-align: left !important;
    width: auto;
    }
.pta-sus.updated {
    background: #F0FFDF url('../assets/images/icon-check.gif') no-repeat scroll 8px .5em;
    }
.pta-sus.error {
    background: #FFF2CF url('../assets/images/icon-alert.png') no-repeat scroll 8px .5em;
    }
.pta-sus-hidden {
    color: red;
    font-weight: 600;
}
.pta-sus-em {
    font-style: italic;
}

/* Styles for an adaptive calendar */

.vsus_date {font-weight: bold;}
.vsus_time {margin: 0 1 0 1;
	background:#eee;}

.vsus_container ul{ list-style: none; padding: 0; margin: 0; clear: both; width: 100%; } .vsus_container li{ display: block; float: left; width: 14.2857142857%; padding: 5px; box-sizing: border-box; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px; }

@media only screen and (min-width : 768px) { .day_cell { display: none; } }

@media only screen and (max-width : 768px) { 
.vsus_container .weekdays { display: none; } 
.vsus_container li { height: auto!important; border: 1px solid #ededed; width: 100%; padding: 10px; margin-bottom: -1px; } 
.vsus_container li .day, .vsus_container li .month { display: inline; } 
.vsus_container li.outofrange { display: none; } 
}
